<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script type="text/javascript" src="/javascripts/dragdropscript.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form>
  <fieldset>
    <legend>HTML File Upload</legend>
    <div>
      <div id="filedrag">drop files here</div>
    </div>
  </fieldset>
</form>

<div id="messages">
  <p>Status Messages</p>
</div>
<button id="list">List Information</button>
<div id="info"></div>
</body>
</html>
